<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <currentSettingsProfile>
  </currentSettingsProfile>
  <Profiles>
    <Default>
      <General>
        <startWithWindows>false</startWithWindows>
        <connectOnStart>false</connectOnStart>
        <startMinimized>false</startMinimized>
        <advancedSettings>false</advancedSettings>
        <closeToTray>false</closeToTray>
        <minimizeToTray>false</minimizeToTray>
        <redValue>255</redValue>
        <greenValue>255</greenValue>
        <blueValue>255</blueValue>
      </General>
      <Updater>
        <checkForUpdate>launch</checkForUpdate>
        <devBuilds>false</devBuilds>
        <downloadLocation>D:\Google Drive\Documents\Projects\C#\Spectrum\Spectrum\bin\Debug</downloadLocation>
        <lastCheck>06/13/2018 9:59:34 PM</lastCheck>
      </Updater>
      <Arduino>
        <isConnected>false</isConnected>
        <defaultPort>
        </defaultPort>
        <stripLength>100</stripLength>
        <turnOffOnClose>true</turnOffOnClose>
        <turnOnWithConnect>false</turnOnWithConnect>
        <lastCommand>
        </lastCommand>
        <delay>10</delay>
      </Arduino>
    </Default>
    <Profile1>
      <General>
        <startWithWindows>True</startWithWindows>
        <connectOnStart>True</connectOnStart>
        <startMinimized>True</startMinimized>
        <advancedSettings>True</advancedSettings>
      </General>
      <Updater>
        <downloadLocation>D:\Downloads</downloadLocation>
      </Updater>
    </Profile1>
  </Profiles>
</Settings>