<?xml version="1.0" encoding="utf-8" ?>
<Settings>

  <currentSettingsProfile>Profile1</currentSettingsProfile>


  <Profiles>
    <Default>

      <General>
        <startWithWindows>false</startWithWindows>
        <connectOnStart>false</connectOnStart>
        <startMinimized>false</startMinimized>
        <advancedSettings></advancedSettings>
        <closeToTray>false</closeToTray>
        <minimizeToTray>false</minimizeToTray>
        <redValue>255</redValue>
        <greenValue>255</greenValue>
        <blueValue>255</blueValue>
      </General>

      <Updater>
        <downloadLocation></downloadLocation>
        <lastCheck></lastCheck>
        <nextCheck></nextCheck>
      </Updater>

      <Arduino>
        <isConnected>false</isConnected>
        <defaultPort></defaultPort>
        <stripLength>100</stripLength>
        <turnOffOnClose>true</turnOffOnClose>
        <turnOnWithConnect>false</turnOnWithConnect>
        <lastCommand></lastCommand>
        <delay>10</delay>
      </Arduino>

    </Default>

    <Profile1>

      <General>
        <startWithWindows>true</startWithWindows>
        <connectOnStart>true</connectOnStart>
        <startMinimized>true</startMinimized>
        <advancedSettings></advancedSettings>
        <closeToTray>false</closeToTray>
        <minimizeToTray>false</minimizeToTray>
        <redValue>255</redValue>
        <greenValue>255</greenValue>
        <blueValue>255</blueValue>
      </General>

    </Profile1>
    
  </Profiles>

  
  
</Settings>

