<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Spectrum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Spectrum.Properties.Settings>
      <setting name="isConnected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="closeToTrayBool" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="connectOnStartupBool" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="windowsStartupBool" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="redColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="greenColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="blueColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="delayValue" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="startMinimizedBool" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="lastUpdateCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="nextUpdateCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="startupUpdateDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="updateComboBoxInt" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="postponeUpdateDate" serializeAs="String">
        <value />
      </setting>
      <setting name="postponeUpdateBool" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="turnOffOnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="fileLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstLaunch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stripLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lastCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="rememberLightProfile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="responsiveLighting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="advancedLighting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="defaultStripLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="enableAdvancedSettings" serializeAs="String">
        <value>False</value>
      </setting>
    </Spectrum.Properties.Settings>
  </userSettings>
</configuration>